# Git ignore

ideas.md

# Distribution / packaging
__pycache__/
dist/
build/
*.spec
.pytest_cache/
*.egg-info/
.eggs/

# Test coverage
htmlcov/
.coverage
.coverage.*

# Python virtual environments
venv/
env/
.venv/

# IDE specific files
.vscode/

# Terraform files
.terraform/
.terraform*
urllib3*/
*.tfstate*

# AWS Lambda deployment packages
*.zip
config/

# Environment Variables
.env
*.tfvars

# Debug
debug_screenshots/
debug_files/