# Git ignore

ideas.md

# Python build and distribution directories
__pycache__/
dist/
build/
*.spec

# Terraform files
.terraform/
.terraform*
urllib3*/

# AWS Lambda deployment packages
*.zip
config/

# Environment Variables
.env
*.tfvars